*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    word-spacing: 0.1em;
}


.con{
    border: 1px solid black;
    height: 580px;
    width: 100%;
    background-color: rgb(1, 1, 46);
}
.hh{
    display: flex;
    justify-content: center;
    }

.human{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    top: 20px;
}

.names{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.names1{
    display: flex;
    justify-content: center;
    margin-top: 12px;
    color: white;
    font-weight: bold;
    font-size: 15px;
}






.ex{
    color: green;
    position: absolute;
    top: 330px;
    left: 30px;
}

.senior{
    color: white;
    position: absolute;
    top: 400px;
    left: 30px;}

    .para{
color: white;
position: absolute;
top: 450px;
left: 30px;
}